<div class="inner-div">
    <h1>{{type}}</h1>
    <div style="text-align: center;">

        <div class="divTable">
            <div class="divTableRow">
                <div class="divTableCellLeft">
                    <mat-form-field appearance="fill">
                        <mat-label>Titulo</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="divTableCellRight">
                    <mat-form-field appearance="fill">
                        <mat-label>Descricao</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="divTableRow">
                <div class="divTableCellLeft">
                    <mat-form-field appearance="fill">
                        <mat-label>Data</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="divTableCellRight">
                    <mat-form-field appearance="fill">
                        <mat-label>Valor</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="divTableRow">
                <div class="divTableCellLeft">
                    <mat-form-field class="example-chip-list">
                        <mat-chip-list #chipList aria-label="Categ selection">
                            <mat-chip *ngFor="let categ of categs" [selectable]="selectable" [removable]="removable"
                                (removed)="removeCateg(categ)">
                                {{categ}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="Categoria" #categInput [formControl]="categCtrl"
                                [matAutocomplete]="auto" [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                (matChipInputTokenEnd)="addCateg($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedCateg($event)">
                            <mat-option *ngFor="let categ of filteredCateg | async" [value]="categ">
                                {{categ}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="divTableCellRight">
                    <mat-form-field class="example-chip-list">
                        <mat-chip-list #chipList aria-label="Account selection">
                            <mat-chip *ngFor="let account of accounts" [selectable]="selectable" [removable]="removable"
                                (removed)="removeAccount(account)">
                                {{account}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="Conta" #accountInput [formControl]="accountCtrl"
                                [matAutocomplete]="auto" [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                (matChipInputTokenEnd)="addAccount($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedAccount($event)">
                            <mat-option *ngFor="let account of filteredAccount | async" [value]="account">
                                {{account}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div class="divTableRowCheckBox">
                <div class="divTableCellLeft">
                    <section>
                        <mat-checkbox style="line-height: 50px;" [(ngModel)]="checked">Fixo</mat-checkbox>
                    </section>
                </div>
                <div class="divTableCellRight">
                    <section>
                        <mat-checkbox [formControl]="disableSelect" style="line-height: 50px;" [(ngModel)]="indeterminate">Recorrente</mat-checkbox>
                    </section>
                </div>
            </div>
            <div class="divTableRow">
                <div class="divTableCellLeft">
                    <mat-form-field appearance="fill">
                        <mat-label>Franquência</mat-label>
                        <mat-select [disabled]="!disableSelect.value">
                            <mat-option value="option1">Meses</mat-option>
                            <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="divTableCellRight">
                    <mat-form-field class="example-full-width">
                        <mat-label>Vezes</mat-label>
                        <input [disabled]="!disableSelect.value"  matInput placeholder="1" value="1">
                      </mat-form-field>
                </div>
            </div>
            <div class="divTableRow">
                <div class="divTableCellLeft">
                    <button mat-raised-button color="primary">Confirmar</button>
                </div>
                <div class="divTableCellRight">
                    <button mat-raised-button color="warn">Cancelar</button>
                </div>
            </div>
            <div class="divTableCellLeft">
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
            </div>
        </div>
        <br />
        <br>
    </div>
</div>