.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}

.divTableCellDate {
    display: table-cell;
    width: 15%;
}

.divTableCellDate, span {
    color: lightgray;
    text-align: left;
    font-size: 85%;
    /* vertical-align: top; */
}
    
.divTableCellLeft {
    display: table-cell;
    text-align: left;
}
.divTableCellCenter {
	display: table-cell;
    text-align: center;
}
.divTableCellRight {
    text-align: right;
	display: table-cell;
}

.mat-icon {
    font-size: 20px;
  }
  